p,li,ul,input,a{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    /* 14px-16px */
    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
    /* 21px-24px */
    line-height: clamp(1.3125rem, 1.2465rem + 0.2817vw, 1.5rem);
    /* or 150% */
      
    color: #07043B;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* 24px-40px */
    font-size: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem);
    /* 36px-60px */
    line-height: clamp(2.25rem, 1.7218rem + 2.2535vw, 3.75rem);
    /* or 150% */
      
    color: #07043B;
}
 h2, h5{
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    /* 16px-40px */
    font-size: clamp(1rem, 0.8448rem + 1.8391vw, 2.5rem);
    /* 24px-47px */
    line-height: clamp(1.5rem, 0.9938rem + 2.1596vw, 2.9375rem);
    /* or 150% */
      
    color: #07043B;
}

header, .section-up{
    margin: 0 auto;
    max-width: 1440px;
}
/* ============= HEADER ============= */
header img{
    cursor: pointer;
}
.header-helper{
    display: flex;
    justify-content: space-between;
    /* 24px-80px */
    margin: 65px clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 100px;
}
.header-helper img{
    margin-right: 80px;
    margin-bottom: 20px;
}
.header-helper ul{
    display: flex;
    justify-content: space-between;
    width: 270px;
}
.header-helper ul li{
    display: inline-block;
}
/* ============= SECTION-UP ============= */
.section-up-helper{
    display: flex;
    justify-content: space-between;
     /* 24px-80px */
    margin: 0 clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 165px;


    height: 475px;
}
.section-up-helper-img{
    width: 50%;
}
.section-up-helper-img img{
    width: 100%;

}
.section-up-helper-content{
    width: 50%;
    /* max-width: 590px; */
}
.section-up-helper-content p{
    /* 14px-17px */
    font-size: clamp(0.875rem, 0.809rem + 0.2817vw, 1.0625rem);
    letter-spacing: 0.53125px;
    margin: 15px 0 25px 0;
}
input{
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.466667px;

}
.input-checker{
    display: inline-block;
    width: 54.24%;
    margin-right: 16px;
    
}
.section-up-emale{
    width: 100%;
    height: 45px;

    border: 0.625px solid #07043B;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;    

   

    padding: 21px;
}
.mail-subtext{
    display: block;
    color: 
    rgba(239, 72, 119, 1);

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;  
    
    margin-top: 5px;
}
.section-up-submit{
    
    vertical-align: top;
    width: 31.25%;
    height: 45px;

    background: #2F65F8;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 3.125px;    
    border: none;

    font-weight: 700;
    color: #FFFFFF;

    cursor: pointer;

    transition-duration: 1.3s;
    transition-timing-function: ease-out;

    font-size: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
}
.section-up-submit:hover{
    background: #6C9BFF;
}


/* ============= SECTION-MIDDLE ============= */
.section-middle{
    background-image: url(./images/bg-curve-desktop.svg);
    background-repeat: no-repeat;    
    background-position: top left;
    background-size: 100% 100%;

}
.section-middle-helper{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    max-width: 1440px;
    /* width: 50%; */
                         /* 24px-120px */
                        
    padding: 178px clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 0 
                   clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);
        
    /* background-image: url(./images/illustration-2.svg);
    background-repeat: no-repeat;    
    background-position: 91%, top;
    background-size: 540px 410px; */

    min-height: 785px;

}
.section-middle-helper h2{
    margin-bottom: 38px;
}
.section-middle-helper-content{
    width: 50%;
    /* max-width: 650px; */
}

.section-middle-helper-content a{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 166px;
    line-height: 22px;

    margin-top: 15px;

    color: #3DA08F;
    border-bottom: 1px solid #3DA08F;

    transition-duration: 1.5s;
    transition-timing-function: ease-out;
}
.section-middle-helper-img{
    width: 50%;
}
.section-middle-helper-img img{
    width: 100%;
}
.section-middle-helper-content a:hover {
   border-color: #71DFCC;
    color:  #71DFCC;
}
use{
    transition-duration: 1.3s;
    transition-timing-function: ease-out;
}
.section-middle-helper-content:hover a:hover use{
    fill:#71DFCC;
    
}
.section-middle-helper-content-box{
    margin-top: 45px;
    padding: 25px 35px;

    max-width: 356px;
    min-height: 215px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px 5px rgba(56, 56, 56, 0.0458843);
    border-radius: 5px;
}
.section-middle-helper-content-box p{
    font-size: 13px;
    line-height: 23px;
    
    margin-bottom: 15px;
}
.middle-content-box-footer{
    display: inline-block;
    max-width: 100%;
}
.middle-content-box-footer-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;

    vertical-align: sub;
}
.middle-content-box-footer h5{
    display: block;

    font-size: 11px;
    line-height: 15px;
      
    letter-spacing: 0.55px;

    white-space: nowrap;
}
.middle-content-box-footer p{
    white-space: nowrap;

    display: block;
    font-weight: 400;
    font-size: 8px;
    line-height: 15px;
       
    letter-spacing: 0.4px;  
    
}
/* .section-middle-helper-content a::after{
    content: url(./images/icon-arrow.svg) ;
    margin-left: 8px;
    vertical-align:  sub;
    color: #3DA08F;
} */
/* ============= SECTION-BOTTOM ============= */
.section-bottom{
    background: #575988;
   
}
.section-bottom-helper{
    display: flex;
    justify-content: space-between;

    margin: 0 auto;

    max-width: 1440px;
    min-height: 325px;
                   /* 24px-120px */
    padding: 100px clamp(1.5rem, -0.6127rem + 9.0141vw, 7.5rem) 0
                   /* 24px-80px */
                   clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);
}
.section-bottom-helper-left-box{
    width: 43%;
}
.section-bottom-helper-left-box h2{
    /* 18px-32px */
    font-size: clamp(1.125rem, 0.8169rem + 1.3146vw, 2rem);
    /* 24px-48px */
    line-height: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);
    
    color: #FFFFFF;    

    margin-bottom: 17px;
}
.section-bottom-helper-left-box p{
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.section-bottom-helper-right-box {
    width: 38.71%;
}
.section-bottom-helper-right-box input{
    display: block;
}
.section-down-emale{
    width: 100%;
}
.section-bottom-helper-right-box .section-up-submit{
    margin-top: 15px;
}
.section-bottom-helper-right-box .mail-subtext{
    color: #FFFFFF;
}
/* ============= FOOTER ============= */
footer{
    background: #07043B;
}
footer li:not(:last-child){
    margin-bottom: 15px;
}
.footer-helper{
    margin: 0 auto;
    max-width: 1440px;
    min-height: 390px;

    /* 24px-260px */
    padding: 90px clamp(1.5rem, -3.6937rem + 22.1596vw, 16.25rem) 0
    /* 24px-80px */
    clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);    
}
.footer-helper-content-box{
    display: flex;
    justify-content: space-between;
    
    margin-top: 35px;
}
.footer-helper-content-box li a, .footer-helper-content-box li{
    color: #FFFFFF;
}
.footer-meil-phone li:first-child a:before{
    content: url(./images/icon-phone.svg) ;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    vertical-align:  sub;
    
}
.footer-meil-phone li:last-child a:before{
    content: url(./images/icon-email.svg) ;
    margin-right: 20px;
    width: 18px;
    height: 18px;
    vertical-align:  sub;
    
}
.footer-helper-icon-box{
    width: 120px;

    display: flex;
    justify-content: space-between;
    
}
.footer-helper-icon-box svg{
    width: 31px;
    height: 31px;
    
    cursor: pointer;
}
.footer-helper-icon-box svg path, li a{

    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.footer-helper-icon-box svg:hover path{
    Fill: #6C9BFF
}
li a:hover{
    color:darkgrey
}


@media only screen and (max-width: 940px) {
    .section-up-helper-img{
        width: 370px;
    }
    .section-up-helper-content,
    .section-middle-helper-img,
    .section-middle-helper-content{
        width: 75%;
    }
  .section-up-helper{
    height: auto;
  }
  .section-up-helper{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin: 0 auto;
    text-align: center;
  }
  .section-up-helper-img{
    /* width: 100%; */
    margin-bottom: 40px;
  }
  .section-up-helper-img img{
    height: 225px;
  }
  .section-up-helper-content input{
    width: 100%;
    max-width: 400px;
  }
  .section-up-emale{
    margin-right: 0;
  }
   .section-up-submit{
    margin-top: 15px;
  }
  .mail-subtext{
    text-align: left;
  }
  .input-checker{
    width: 100%;
    max-width: 400px;
    margin-right: 0;
  }
  .section-up-helper{
    display: flex;

    background-position: center bottom;
    background-size: 100%;
  }
   .section-middle-helper{
    align-items: center;
    flex-direction: column-reverse;
    align-items: center;
  }
  .section-middle-helper-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 80px;

  }
  .section-middle-helper-img{
    margin-bottom: 90px;
  }
  .text-center{
    text-align: center;
  }
  .section-up-helper{
    margin-bottom: 90px;
  }
  .section-bottom-helper{
    
    flex-direction: column;
    align-items: center;

    text-align: center;
                   /* 24px-80px */
    padding: 54px clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 70px 
                  clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);
  }
  .section-bottom-helper p{
    margin-bottom: 25px;
  }
  .section-bottom-helper-right-box{
    margin: 0 auto;
    max-width: 400px;
    width: 100%;

  }
  .section-bottom-helper input:last-child{
    /* margin: 0 auto; */
    width: 100%;
  }

  .section-bottom-helper-left-box{
    width: 100%;
    max-width: 560px;
  }
/* ============= FOOTER (max-width: 725px) ============= */
  .footer-helper{
                  /* 24px-80px */ 
    padding: 65px clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 42px 
                  clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);
    
  }
  
} 
@media only screen and (max-width: 620px){
  .footer-helper-content-box{
    flex-direction: column;
   }
  .footer-helper-icon-box{
    margin: 0 auto;
  }
  .footer-helper-content-box ul:not(:last-child){
    margin-bottom: 32px;
  }
}
@media only screen and (max-width: 500px){
    .section-up-helper-img{
          width: 75%;
      }
    }

@media only screen and (max-width: 420px){
    .section-up-helper{
        padding: 60px clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem) 0 clamp(1.5rem, 0.2676rem + 5.2582vw, 5rem);
    }
    .section-up-helper-img, 
    .section-up-helper-content,
    .section-middle-helper-img,
    .section-middle-helper-content{
      width: 100%;
    }
    .header-helper{
      flex-wrap: wrap;
      margin-bottom: 0;
    }
    .header-helper ul{
      margin: 30px auto ;
    }
}